.example-component {
    border: solid 1px lightgray;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 2px;

    h4 {
        color: #0a84ff;
        margin-top: 20px;
    }

    .sections {
        margin-bottom: 10px;

        button {
            background-color: lightgray;
            color: white;
            font-weight: bold;
            padding: 5px 20px;
            border: none;
            outline: none;

            @media only screen and (max-width: 600px) {
                width: 50%;
              }
        }

        .selected {
            background-color: #0a84ff;
        }
    }
}
