.App {
  margin-bottom: 20px;

  .text-centered {
    text-align: center;
  }

  .margin-top {
    margin-top: 20px;
  }

  .form-component {
      padding: 0;

      span {
        margin: 0;
        color: black;
      }

      .error {
        color: red;
      }

      textarea {
        height: 95px;
      }

      .submit-container {
          padding: 0 15px;
          width: 100%;
      }
  }
}
