.App {
  margin-bottom: 20px;

  .text-centered {
    text-align: center;
  }

  .margin-top {
    margin-top: 20px;
  }

  .title-container {
    padding: 30px 0;
    background-color: #d5eaff;
  }

  .no-margin {
    margin: 0;
  }

  .form-component {
      padding: 0;

      span {
        margin: 0;
        color: black;
      }

      .error {
        color: red;
      }

      textarea {
        height: 95px;
      }

      .submit-container {
          padding: 0 15px;
          width: 100%;
      }

      table {
        padding: 0 15px;
      }

      .title {
        padding: 0 15px;
      }

      .general-error-container {
        width: 100%;
        padding: 0 15px;
      }

      .list-component > .error {
        padding: 0 15px;
      }
  }
}
